
<div class="container">
    <div class="row border mb-3 p-3 align-items-center" style="height: 100px;">
        <div class="col-6 text-start">
            <p class="h4 mb-0">Transaction Batch</p>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-primary btn-lg" (click)="onRunBatch()">Run Batch</button>
        </div>
    </div>

    <div *ngIf="message" class="row mt-3">
        <div class="col-12">
            <div [ngClass]="isSuccess ? 'alert alert-success' : 'alert alert-danger'" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
</div>
